# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Data-Persistence-Starter-Files.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityLearns\Data-Persistence-Starter-Files\.idea\.idea.Data-Persistence-Starter-Files\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
